/* Andres primary colour:  ba5431 */
/* very dark:  411506 */
/* mostly light gray:  decbc4 */
/* cream contrast f9eedb */



/* Kultrun banner */
#block-block-39, .pane-block-39 {
    background: url("../../kultrun/images/Aner-Villarrica-4.jpg") no-repeat center top / cover transparent;
    padding-bottom: 30px;
    padding-top: 30px;
    text-shadow: 5px 5px 7px #000, -5px -5px 7px #000, 1px -1px #000, -1px 1px #000;
}

.front h1.page-header {
    display: none;
}
h3, .h3 {
    font-size: 1.15em;
}

img {
  max-width: 100%;
}

#block-block-40 p {
    display: inline;
}
.pane-calendar-d7 {
  background-color: #DE6238;
  padding-bottom: 30px;
  padding-top: 30px;
  clear: both;
}
.pane-calendar-d7 h3, .pane-calendar-d7 h2, .pane-calendar-d7 h3 a {
  color: #fff;
}

.pane-uc-products {
   padding-bottom: 20px;
}

.front .main-container {
  padding-top: 0;
}


.navbar-default {
   border: none;
}

#navbar {
  border-bottom: 6px solid #ba5431;
  margin-bottom: 0;
  padding-bottom: 23px;
}


/* the front page had a small margin down the right, that made the bottom slidebar show up. */
.col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}

.owl-carousel.owl-theme {
    border-top: 6px solid #ba5431;
    padding-top: 15px;
}

.owl-item {
    text-align: center;
}

/* social media icons */
#block-block-33 {
   margin-top: -35px;
}

/* action links */
#block-block-41 {
  position: fixed;
  right: 0;
  top: 0;
}

#Subscribe .form-text {
  background-color: #000;
  border: 2px solid white;
  border-radius: 15px;
  color: #fff;
  padding-left: 5px;
}
#Subscribe .form-submit {
  border-radius: 17px;
  margin-left: 10px;
}
#Subscribe label {
  left: 46px;
  position: absolute;
  top: 55px;
}

#navbar .container {
  position: relative;
}
.region.region-navigation {
  position: absolute;
  right: 7px;
  top: 30px;
}

.input-group .form-control:first-child, .input-group-addon:first-child, 
.input-group-btn:first-child > .btn, 
.input-group-btn:first-child > .dropdown-toggle, 
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-color: #ba5431;

}
.btn-default {
  border-color: #ba5431;
}
.view-uc-products li {
  list-style: outside none none;
}
.glyphicon {
  color: #ba5431;

}
.block-uc-cart {
  position: absolute;
  right: 5px;
  top: 49px;
}
.block-uc-cart h2 {
  display: none;
}
.cart-block-view-cart {
  display: none !important;
}

/* news items with yellow round corners, just for fun */
/* .view-tracker.view-display-id-block_2 .field-content img {
  border: 3px solid #E4D972;
  border-radius: 100px;
}
*/
.view-tracker.view-display-id-block_2 .field-content img {
	width: 100%;
}


.view-display-id-block_4 .views-field-buyitnowbutton {
  float: right;
}

.carousel-caption {
  background-color: black;
  left: 0;
  margin-top: 0;
  padding: 2px;
  position: relative;
  right: 0;
  height:  120px;
}

.pane-calendar-d7 a {
  color: #000;
}

#block-block-4 {
  float: right;
  margin-top: 30px;
}


/* contact info at bottom of artist page - add icons, remove labels */
.view.view-CiviContacts.view-display-id-block_2 {
    background-color: #F3F1BE;
}
.view.view-CiviContacts.view-display-id-block_3 {
    /* neruda staff only */
    background-color: #F3F1BE;
}
.view-CiviContacts ul {
    list-style: none outside none;
    padding: 0;
}
.view-CiviContacts li {
    line-height: 23px;
}
.field-content.YouTube {
    background: url("../images/icono_youtube_mini2.png") no-repeat scroll left top rgba(0, 0, 0, 0);   
	padding-left: 25px;
}
.field-content.Twitter {
    background: url("../images/icon_twitter_mini.png") no-repeat scroll left top rgba(0, 0, 0, 0);   
	padding-left: 25px;
}
.field-content.YouTube em,
.field-content.YouTube i,
.field-content.Twitter em,
.field-content.Twitter i {
   display: none;
}
.field-content.Facebook {
    background: url("../images/icon_facebook_tiny.png") no-repeat scroll left top rgba(0, 0, 0, 0);   
	padding-left: 25px;
}
.field-content.Facebook em,
.field-content.Facebook i {
   display: none;
}
.field-content.Website {
    background: url("../images/icon_link_mini.png") no-repeat scroll left top rgba(0, 0, 0, 0);   
	padding-left: 25px;
}
.field-content.Website em,
.field-content.Website i {
   display: none;
}
.field-content.civilink {
    background: url("../images/icon_civi_mini.png") no-repeat scroll left top rgba(0, 0, 0, 0);   
	padding-left: 25px;
}
.views-field-email {
    background: url("../images/icon_email_mini.png") no-repeat scroll left top rgba(0, 0, 0, 0);   
	padding-left: 25px;
}

/* kultrun block on home page */
.pane-block-46 p {
  background-color: black;
  color: white;
  font-size: 1.7em;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}
.pane-block-46 p:nth-child(2) {
  padding: 1em;
}


.carousel-caption h3 {
  background-color: #000;
  margin-top: 10px;
}


/* front page event list */
.view-event-list.view-display-id-page_1 td {
  border-top: 0 none;
  padding: 0;
}
.view-event-list.view-display-id-page_1 {
  border: 1px solid #ba5431;
}

/* front page news list */
.view-tracker.view-display-id-block_2 h3 {
  margin-top: 0;
}
.view-tracker.view-display-id-block_2 .views-row {
  border-bottom: 1px dotted gray;
  margin-bottom: 38px;
  padding-bottom: 30px;
}

/* hide the header image when editing */
.page-node-edit .page-header-image {
  display:  none;
}

.page-cart-checkout .page-header-image,
.page-cart .page-header-image, 
.page-user  .page-header-image,
.page-node-submission .page-header-image,
.page-admin .page-header-image,
.page-node-delete .page-header-image  {
  background-image: none;
  height: 52px;
}

.page-cart h1, 
.page-cart-checkout  h1,
.page-user h1,
.page-node-submission h1,
.page-admin h1,
.page-node-delete h1 {
  top: 0;
}

h2 a:hover, h3 a:hover {
  color: #fff;
}

.form-item.webform-component.webform-component-checkboxes.webform-component--civicrm-1-contact-1-cg11-custom-38 .description {
  margin-top: -70px !important;

}
.form-item.webform-component.webform-component-checkboxes.webform-component--civicrm-1-contact-1-cg11-custom-38 > label {
  margin-top: 42px !important;
}


#search-block-form .btn.btn-primary {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fff;
  border-color: #ba5431 #ba5431 #ba5431 -moz-use-text-color;
  border-image: none;
  border-style: solid solid solid none;
  border-width: 1px 1px 1px 0;
  padding-bottom: 7px;
}

.pane-content img {
  max-width: 100%;
}

.front #block-uc-cart-cart h2 {
  display: none;
}

.btn-info, .btn-primary, .btn-success {
  background-color: #ba5431;
  border-color: #ba5431;
  color: #ffffff;
}

.btn-info .glyphicon {
  color: #fff;
}

#uc-cart-view-form .form-actions {
  margin-top: 15px;
  text-align: right;
}

#panels-dnd-main div.panel-region h2.label {
  color: #e9e9e9;
  font-size: 13pt;
  margin: 0 0 0.5em;
  padding-right: 16px;
  text-align: center;
  text-shadow: 1px 1px 1px #666;
  vertical-align: middle;
}



.hasCountdown {
  background-color: transparent;
  background-image: url("/sites/all/themes/kultrun2016/images/countdown-bg.jpg");
  border: 0 none;
  color: #fff;
}

.countdown_descr {
  text-align:  left;
  font-weight: bold;
  font-size:62px;
  text-transform: uppercase;
  font-family: Roboto, Calibri;
}

.countdown_section {
  text-align:  left;
  max-width: 130px;
}
.countdown_show4.countdown_row {
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  font-family: Roboto, Calibri;
  text-align:  left;
}

.countdown_row .countdown_amount {
	color: #FFF200;
	font-size: 45px;
}

.countdown_section:nth-child(2) .countdown_amount {
	color: #FF8A00;
}
.countdown_section:nth-child(3) .countdown_amount {
	color: #00B9FF;
}
.countdown_section:nth-child(4) .countdown_amount {
	color: #8DC63F;
}




@media (max-width: 550px) {
	.jumbotron {
	  margin-left: 0;
	  margin-right: 0;
	  padding-left: 0;
	  padding-right: 0;
	  width: 100%;
	}	
	#jumbotron .container {
	  padding: 0;
	}

	.logo img {
	  width: 80px;
	}	
}

